
body {
    background-color:#c8c8c8;
    justify-content: center;
    display:flex;
    font-family: sans-serif;
    align-items: center;
    height :100vh;
}

.card {
    text-align: center;
    background:rgb(210, 240, 211);
    padding :16px;
    border-radius: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow:0 0 20px rgb(159, 159, 159);
}
.card img {
    width:100%;
    border-radius: 12px;
}
.card h1 {
    font-size:1.25rem;
    margin :16px 0 8px;
    color:#1f3251;
}
.card p {
    font-size:0.936rem;
    color:#7b879d;
}